*{
    margin:0;
    padding:0;
}

.navbar{
    border-radius: 0px;
}

.tools{
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn.btn-default.smaller{
     padding: 6px 2px;
}

.btn-toolbar{
    margin-left: 33%;
}

.btn-group{
    margin-right: 50px;
}

.hw{
    overflow: scroll;
    height: 100%;
    border: 1px #eee solid;
}